@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*{
  border: 1px solid red;
} */

/* * {
  border: 1px solid red;
} */
body {
  @apply font-sans;
}
/* Make scrollbar thin and rounded */
.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* thin scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* thumb color */
  border-radius: 9999px; /* rounded thumb */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: transparent; /* track color */
}

/* Firefox support */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

